div {
    width: 300px;
    border: 4px solid black;
    border-radius: 40px;
    box-shadow: 10px 10px 5px #888888;
}

.center {
    margin:0 auto;
    width: 20%;

}


p {
    font-family:"Titillium Web";
    font-size:125%;
    text-align:center;
}

table {
    margin: auto;
    padding-bottom: 15px;

}


img {
    width: 70px;
    height: 70px;
}


img:hover {
-webkit-transform: scale(1.2, 1.2);
-moz-transform:scale(1.2, 1.2);
-opacity:5;
-webkit-opacity:5;
-moz-opacity:5;
}


@media (max-width: 800px){

div {
    width: 100%;
    border: none;
    box-shadow: none;
    padding-right: 165px;
    padding-top: 110px;
    margin: 600px;
    }

.center {
    table-size: 150%;
    padding-bottom: 200px;
}

p {
    display: none;
}


    }