.blog-nav-item{

    font-family: "PT Sans",serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;

}

.blog-masthead{

    background-color: #000000;
    line-height: 30px;

}


#Homing_In_content {

    margin-right: 1000px;

}

.phone img{

    height: 490px;
    width: 20%;
}

#graphic {

   margin-left: 40%;
   margin-top:2%;


}

#graphic:hover {

 webkit-transform: scale(1, 1);
-opacity:0;
-webkit-opacity:0;

}

.center {
    width: 300px;
}

.center {
    top: -425px;
    left: 0;
    position: relative;
    z-index: 1;
    margin:9% auto;
    margin-top: 0;
    background-color: #;

}



#services {
    font-family:"Titillium Web";
    font-size:125%;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
}

#mock-up {
    position: relative;
    font-family:"Titillium Web";
    font-size:150%;
    margin-left: 24%;
    top: -460px;
}

table {
    margin: auto;
    padding-bottom: 15px;

}


img {
    width: 70px;
    height: 70px;
}


img:hover {
-webkit-transform: scale(1.2, 1.2);
-moz-transform:scale(1.2, 1.2);
-opacity:5;
-webkit-opacity:5;
-moz-opacity:5;
}


@media (max-width: 800px){

div {
    width: 100%;
    border: none;
    box-shadow: none;
    padding-right: 165px;
    padding-top: 110px;
    margin: 600px;
    }

.center {
    table-size: 150%;
    padding-bottom: 200px;
}



    }